/* Ensure no elements cause horizontal overflow */
body {
    font-family: "Roboto",  sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.5;

}


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes confirm-truck-slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes confirm-page-rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}




