Create Database [MinhXuanDatabase]
go
USE [MinhXuanDatabase]
GO
/****** Object:  Table [dbo].[AccountVerifications]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVerifications](
	[VerificationId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[VerificationCode] [nvarchar](100) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerificationDate] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[CategoryBlogId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryBlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[PostURL] [nvarchar](500) NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[CategoryBlogId] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](500) NULL,
	[Tags] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CreateBy] [int] NULL,
	[UpdateBy] [int] NULL,
	[Status] [varchar](50) NOT NULL,
	[FileName] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[PasswordHash] [varchar](150) NULL,
	[PhoneNumber] [varchar](10) NULL,
	[Address] [nvarchar](400) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [varchar](150) NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Address] [nvarchar](400) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[RoleId] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[QRCodeData] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentConfirmOfCustomer] [bit] NULL,
	[ImagePath] [varchar](4000) NULL,
	[FileName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[RecipientId] [int] NULL,
	[RecipientType] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[OrderId] [int] NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[ProductPrice] [decimal](18, 2) NOT NULL,
	[ProductDiscount] [decimal](5, 2) NOT NULL,
	[ProductTax] [decimal](5, 2) NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](10) NOT NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[CustomerAddress] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[GroupId] [int] NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategoryGroup]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategoryGroup](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[FileName] [nvarchar](250) NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsPrimary] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Slug] [nvarchar](250) NOT NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](1200) NULL,
	[Material] [nvarchar](500) NULL,
	[Origin] [nvarchar](500) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](5, 2) NULL,
	[AverageRating] [decimal](4, 2) NULL,
	[TotalSale] [int] NULL,
	[FreeShip] [bit] NULL,
	[Guarantee] [int] NULL,
	[QualityCertificate] [nvarchar](1200) NULL,
	[TotalTax] [decimal](5, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTaxes]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTaxes](
	[ProductTaxId] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[TaxID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTaxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tax]    Script Date: 4/9/2025 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax](
	[TaxID] [int] IDENTITY(1,1) NOT NULL,
	[TaxName] [varchar](100) NOT NULL,
	[TaxRate] [decimal](5, 2) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

INSERT [dbo].[BlogCategories] ([CategoryBlogId], [CategoryName], [Slug], [Description]) VALUES (1, N'Liên hệ', N'lien-he', N'')
INSERT [dbo].[BlogCategories] ([CategoryBlogId], [CategoryName], [Slug], [Description]) VALUES (2, N'Chính Sách', N'chinh-sach', NULL)
INSERT [dbo].[BlogCategories] ([CategoryBlogId], [CategoryName], [Slug], [Description]) VALUES (3, N'Hướng Dẫn', N'huong-dan', NULL)
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

INSERT [dbo].[BlogPosts] ([PostId], [Title], [PostURL], [Slug], [CategoryBlogId], [Content], [Summary], [Tags], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy], [Status], [FileName]) VALUES (1, N'Địa chỉ', NULL, N'dia-chi', 1, N'Hai Bà Trưng, Hà Nội', NULL, NULL, CAST(N'2025-04-07T23:39:46.747' AS DateTime), NULL, NULL, NULL, N'Draft', NULL)
INSERT [dbo].[BlogPosts] ([PostId], [Title], [PostURL], [Slug], [CategoryBlogId], [Content], [Summary], [Tags], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy], [Status], [FileName]) VALUES (2, N'Điện thoại', NULL, N'dien-thoai', 1, N'0912.423.062', NULL, NULL, CAST(N'2025-04-07T23:39:46.747' AS DateTime), NULL, NULL, NULL, N'Draft', NULL)
INSERT [dbo].[BlogPosts] ([PostId], [Title], [PostURL], [Slug], [CategoryBlogId], [Content], [Summary], [Tags], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy], [Status], [FileName]) VALUES (3, N'Email', NULL, N'email', 1, N'minhxuanbhld@gmail.com', NULL, NULL, CAST(N'2025-04-07T23:39:46.747' AS DateTime), NULL, NULL, NULL, N'Draft', NULL)
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FullName], [Email], [PasswordHash], [PhoneNumber], [Address], [DateOfBirth], [Gender], [RoleId], [CreateAt], [UpdateAt], [Status]) VALUES (1, N'admin', N'admin@gmail.com', N'$2a$11$uQTwwfFB9WBJcvB2PAfg7ejM9Xsp.LJgY/0q82R.4Vk2d4zGvr00G', N'0123456789', N'ha noi', CAST(N'2002-03-09' AS Date), 1, 1, CAST(N'2025-04-07T23:39:46.727' AS DateTime), NULL, N'Active')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([CategoryId], [CategoryName], [GroupId], [Description]) VALUES (1, N'Mũ bảo hộ', 1, N'Các loại mũ bảo hộ lao động bảo vệ đầu khỏi va đập và rơi vật nặng.')
INSERT [dbo].[ProductCategory] ([CategoryId], [CategoryName], [GroupId], [Description]) VALUES (2, N'Găng tay bảo hộ', 1, N'Găng tay bảo hộ chống cắt, cách điện, chống hóa chất.')
INSERT [dbo].[ProductCategory] ([CategoryId], [CategoryName], [GroupId], [Description]) VALUES (3, N'Kính bảo hộ', 1, N'Kính bảo hộ chống bụi, chống tia UV, bảo vệ mắt.')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategoryGroup] ON 

INSERT [dbo].[ProductCategoryGroup] ([GroupId], [GroupName], [Description]) VALUES (1, N'Trang Thiết bị bảo hộ', N'')
INSERT [dbo].[ProductCategoryGroup] ([GroupId], [GroupName], [Description]) VALUES (2, N'An toàn ngành điện', N'')
INSERT [dbo].[ProductCategoryGroup] ([GroupId], [GroupName], [Description]) VALUES (3, N'An toàn ngành nước', N'')
SET IDENTITY_INSERT [dbo].[ProductCategoryGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ProductImageId], [ProductId], [FileName], [ImageURL], [Description], [CreatedAt], [UpdatedAt], [IsPrimary], [Status]) VALUES (1, 1, N'ba2fedf9-9df3-4c5a-8c1e-24b5eb22fb49.webp', NULL, NULL, CAST(N'2025-04-07T23:55:41.303' AS DateTime), NULL, 1, 0)
INSERT [dbo].[ProductImage] ([ProductImageId], [ProductId], [FileName], [ImageURL], [Description], [CreatedAt], [UpdatedAt], [IsPrimary], [Status]) VALUES (2, 2, N'4a17fe0d-dd5f-42ca-a5a7-4c48928cbd1b.webp', NULL, NULL, CAST(N'2025-04-07T22:59:19.590' AS DateTime), NULL, 1, 0)
INSERT [dbo].[ProductImage] ([ProductImageId], [ProductId], [FileName], [ImageURL], [Description], [CreatedAt], [UpdatedAt], [IsPrimary], [Status]) VALUES (3, 3, N'923936d2-87db-4edf-bb95-b41c8f73d3f0.webp', NULL, NULL, CAST(N'2025-04-07T23:03:58.617' AS DateTime), NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTaxes] ON 

INSERT [dbo].[ProductTaxes] ([ProductTaxId], [ProductID], [TaxID]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[ProductTaxes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Color], [Quantity], [Price], [Discount], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'L(58 - 62 cm)', N'Xanh', 102, CAST(125000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2025-04-07T16:55:39.367' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Color], [Quantity], [Price], [Discount], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'L', N'Xám', 100, CAST(250000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2025-04-07T15:59:18.350' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Color], [Quantity], [Price], [Discount], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'38', N'Đen', 50, CAST(250000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 1, CAST(N'2025-04-07T16:03:57.553' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name], [Description]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description]) VALUES (2, N'Manager', NULL)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description]) VALUES (3, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tax] ON 

INSERT [dbo].[Tax] ([TaxID], [TaxName], [TaxRate], [Description]) VALUES (1, N'VAT', CAST(10.00 AS Decimal(5, 2)), N'Thu? giá tr? gia tang')
INSERT [dbo].[Tax] ([TaxID], [TaxName], [TaxRate], [Description]) VALUES (2, N'Import Tax', CAST(5.00 AS Decimal(5, 2)), N'Thu? nh?p kh?u')
INSERT [dbo].[Tax] ([TaxID], [TaxName], [TaxRate], [Description]) VALUES (3, N'Environmental Tax', CAST(2.00 AS Decimal(5, 2)), N'Thu? môi tru?ng')
SET IDENTITY_INSERT [dbo].[Tax] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BlogCate__BC7B5FB68929505E]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[BlogCategories] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BlogPost__BC7B5FB66474D070]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[BlogPosts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053419C12163]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534A19AF54B]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Invoices__C3905BCE2AA86F4B]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Invoices__D776E981A525CB49]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductI__589E6EEC46579708]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[ProductImage] ADD UNIQUE NONCLUSTERED 
(
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__BC7B5FB607B5801C]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductT__631D78E4EECFA19C]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[ProductTaxes] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[TaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductV__9BDF8B249B8D45E2]    Script Date: 4/9/2025 5:50:30 PM ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[Size] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountVerifications] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[AccountVerifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (NULL) FOR [VariantId]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0.00)) FOR [ProductDiscount]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0.00)) FOR [ProductTax]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [TotalSale]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [FreeShip]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Guarantee]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [TotalTax]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountVerifications]  WITH CHECK ADD  CONSTRAINT [FK_AccountVerifications_Customers] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountVerifications] CHECK CONSTRAINT [FK_AccountVerifications_Customers]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_BlogCategories] FOREIGN KEY([CategoryBlogId])
REFERENCES [dbo].[BlogCategories] ([CategoryBlogId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_BlogCategories]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_Employee_CreateBy] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_Employee_CreateBy]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_Employee_UpdateBy] FOREIGN KEY([UpdateBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_Employee_UpdateBy]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Receipts_Orders]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Employees] FOREIGN KEY([RecipientId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Employees]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_ProductCategoryGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ProductCategoryGroup] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_ProductCategoryGroup]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Product]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Customers]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategory] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[ProductTaxes]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTaxes]  WITH CHECK ADD FOREIGN KEY([TaxID])
REFERENCES [dbo].[Tax] ([TaxID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[AccountVerifications]  WITH CHECK ADD CHECK  (([AccountType]='Employee' OR [AccountType]='Customer'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CHK_Gender] CHECK  (([Gender]=(1) OR [Gender]=(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CHK_Gender]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CHK_Status] CHECK  (([Status]='Suspended' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CHK_Status]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([RecipientType]='Employee' OR [RecipientType]='Customer'))
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  Trigger [dbo].[trg_UpdateTotalSale]    Script Date: 4/9/2025 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTotalSale]
ON [dbo].[Orders]
AFTER UPDATE
AS
BEGIN
    -- Chỉ cập nhật khi trạng thái đơn hàng là 'Completed'
    IF UPDATE(Status)
    BEGIN
        UPDATE p
        SET p.TotalSale = p.TotalSale + od.Quantity
        FROM Products p
        INNER JOIN OrderDetails od ON p.ProductId = od.ProductId
        INNER JOIN inserted i ON od.OrderId = i.OrderId
        WHERE i.Status = 'Completed';
    END
END;
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_UpdateTotalSale]
GO
/****** Object:  Trigger [dbo].[trg_Update_AverageRating]    Script Date: 4/9/2025 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_Update_AverageRating]
ON [dbo].[ProductReviews]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    -- Cập nhật AverageRating của sản phẩm khi có thay đổi trong bảng Reviews
    UPDATE Products
    SET AverageRating = (
        SELECT COALESCE(CAST(ROUND(AVG(Rating), 1) AS DECIMAL(4,2)), 0)
        FROM ProductReviews
        WHERE ProductReviews.ProductId = Products.ProductId
    )
    WHERE ProductId IN (
        SELECT DISTINCT ProductId FROM inserted
        UNION
        SELECT DISTINCT ProductId FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[ProductReviews] ENABLE TRIGGER [trg_Update_AverageRating]
GO
/****** Object:  Trigger [dbo].[trg_Update_Quantity_Products]    Script Date: 4/9/2025 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Update_Quantity_Products]
ON [dbo].[Products]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Products
    SET Quantity = (
        SELECT COALESCE(SUM(Quantity), 0)
        FROM ProductVariants
        WHERE ProductVariants.ProductId = Products.ProductId
    )
    WHERE ProductId IN (
        SELECT DISTINCT ProductId 
        FROM inserted
        UNION
        SELECT DISTINCT ProductId 
        FROM deleted
    )
    AND EXISTS (
        SELECT 1 FROM ProductVariants 
        WHERE ProductVariants.ProductId = Products.ProductId
    ); -- Chỉ cập nhật nếu có biến thể
END;
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Update_Quantity_Products]
GO
/****** Object:  Trigger [dbo].[trg_CalculateTotalTax]    Script Date: 4/9/2025 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CalculateTotalTax]
ON [dbo].[ProductTaxes]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật TotalTax trong bảng Products
    UPDATE p
    SET p.TotalTax = (
        SELECT COALESCE(SUM(t.TaxRate), 0)
        FROM ProductTaxes pt
        JOIN Tax t ON pt.TaxID = t.TaxID
        WHERE pt.ProductID = p.ProductId
    )
    FROM Products p
    WHERE p.ProductId IN (
        SELECT DISTINCT ProductID FROM inserted
        UNION
        SELECT DISTINCT ProductID FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[ProductTaxes] ENABLE TRIGGER [trg_CalculateTotalTax]
GO
/****** Object:  Trigger [dbo].[trg_Update_Quantity_ProductVariants]    Script Date: 4/9/2025 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Update_Quantity_ProductVariants]
ON [dbo].[ProductVariants]
AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật số lượng tổng của sản phẩm khi có thay đổi trong bảng ProductVariants
    UPDATE Products
    SET Quantity = (
        SELECT COALESCE(SUM(Quantity), 0)
        FROM ProductVariants
        WHERE ProductVariants.ProductId = Products.ProductId
    )
    WHERE ProductId IN (
        SELECT DISTINCT ProductId FROM inserted
        UNION
        SELECT DISTINCT ProductId FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[ProductVariants] ENABLE TRIGGER [trg_Update_Quantity_ProductVariants]
GO
