/* Ensure no elements cause horizontal overflow */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* General styles for larger screens */
/* Ensure the main container takes at least the full height of the viewport */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Push the footer to the bottom */
.main-content {
    flex: 1;
}

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: var(--font-family-sans-serif);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}