<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore processPath="dotnet" arguments=".\BaoHoLaoDongAPIAndReact.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <!-- Logging -->
          <environmentVariable name="Logging__LogLevel__Default" value="Information" />
          <environmentVariable name="Logging__LogLevel__Microsoft.AspNetCore" value="Warning" />
          <environmentVariable name="Logging__LogLevel__Microsoft.EntityFrameworkCore" value="None" />
          <environmentVariable name="Logging__LogLevel__Microsoft.EntityFrameworkCore__Database__Command" value="None" />

          <!-- Hosts -->
          <environmentVariable name="AllowedHosts" value="*" />

          <!-- DB Connection -->
          <environmentVariable name="ConnectionStrings__DbConnections" value="Server=localhost;Database=MinhXuanDatabase;Integrated User Id=sa password=12345 Security=True;TrustServerCertificate=true" />

          <!-- JWT -->
          <environmentVariable name="Jwt__Key" value="925882d5f15cca6cf0046230fcf6ad7f48c37be982a1de72f77240addf2a634c" />
          <environmentVariable name="Jwt__Issuer" value="http://dev.baoholaodongminhxuan.com" />
          <environmentVariable name="Jwt__Audience" value="http://dev.baoholaodongminhxuan.com" />
          <environmentVariable name="Jwt__ExpriryInDay" value="1" />

          <!-- Email -->
          <environmentVariable name="EmailSettings__SmtpHost" value="smtp.gmail.com" />
          <environmentVariable name="EmailSettings__SmtpPort" value="465" />
          <environmentVariable name="EmailSettings__SmtpUser" value="devlinh932@gmail.com" />
          <environmentVariable name="EmailSettings__SmtpPassword" value="ifkn yzts vjee lujr" />

          <!-- Application -->
          <environmentVariable name="ApplicationSettings__BaseUrl" value="http://dev.baoholaodongminhxuan.com" />
          <environmentVariable name="ApplicationSettings__ClientUrl" value="http://dev.baoholaodongminhxuan.com" />

          <!-- Google Auth -->
          <environmentVariable name="GoogleAuth__ClientId" value="161366778808-n0525adskad7lqt9qngv1j9mq6ap8v0k.apps.googleusercontent.com" />

          <!-- Environment -->
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
